body {
  display: flex;
  justify-content: center;
  background-color: white;
  background-color: grey;
}

.container {
  background-color: grey;
  border-left: 1px solid white;
  border-right: 1px solid white;
  width: 80vw;
  min-height: 100vh;


}

h1 {
  text-align: center;
  font-family: sans-serif;
  color: #D3D3D3;
}
